<div class="container">

    <div id="loginbox" class="mainbox col">

        <div class="row">
            <div class="iconmelon">
                <svg viewBox="0 0 32 32">
                <g filter="">
                  <use xlink:href="#git"></use>
                </g>
              </svg>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title text-center">Inscription</div>
            </div>

            <div class="panel-body">
                <form (ngSubmit)="signup()" #signupForm="ngForm" class="form-horizontal form-signin">
                    <div class="alert alert-warning alert-dismissible" role="alert" *ngIf="message !== ''">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> {{ message }}
                    </div>

                    <div class="form-group">
                        <label for="login">Identifiant</label>
                        <input type="text" class="form-control" [(ngModel)]="signupData.login" name="login" value="" placeholder="Identifiant" required />
                    </div>

                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input type="password" class="form-control" [(ngModel)]="signupData.password" name="password" placeholder="Mot de Passe" required/>
                    </div>

                    <div class="form-group">
                        <!-- Button -->
                        <div class="controls">
                            <button type="submit" class="btn btn-primary" [disabled]="!signupForm.form.valid">S'inscrire</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>