<div id="searchAristBar" class="row">
    <div class="col-2"></div>
    <p class="col-2">Sélctionner un Artiste</p>
    <select [(ngModel)]="selectedArtist" class="col-5" (change)="onSelectChange()">
      <option *ngFor="let artist of artisteList" [ngValue]="artist">{{artist.stagename}}</option>
    </select>
</div>
<div *ngIf="selectedArtist">
    <div class="card" style="width: 18rem;">
        <!-- <img class="card-img-top" src="" alt="Card image cap"> -->
        <div class="card-body">
            <h5 class="card-title">{{selectedArtist.stagename}}</h5>
            <p>{{selectedArtist.firstname}}</p>
            <p>{{selectedArtist.lastname}}</p>
        </div>
    </div>

     <h3>Liste des Albums liés à <i>"{{selectedArtist.stagename}}"</i></h3>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let albumData of albumsData">
            <div class="card" style="width: 18rem;">
                <div class="card-header collapsed" data-toggle="collapse" [attr.data-target]="'#' + albumData.album.id" aria-expanded="false" [attr.aria-controls]="albumData.album.id" >
                    {{albumData.album.titre}}
                    <span class="badge badge-primary badge-pill">{{albumData.musicList.length}}</span>
                </div>
                <div id="{{albumData.album.id}}" aria-hidden="true">
                    <div *ngFor="let music of getMusicListOfAlbum(albumData.album.id)" class="list-group-item">{{music.titre}}</div>
                </div>
                <!-- <ul id="list-item" class="list-group list-group-flush collapse">
                    <li *ngFor="let music of musicList" class="list-group-item" aria-hidden="true">{{music.titre}}</li>
                </ul> -->
            </div>
        </li>
    </ul>
</div>
