<div id="searchAristBar" class="row">
    <div class="col-2"></div>
    <p class="col-2">Sélctionner un Artiste</p>
    <select [(ngModel)]="selectedArtist" class="col-5" (change)="onSelectChange()">
      <option *ngFor="let artist of artisteList" [ngValue]="artist">{{artist.stagename}}</option>
    </select>
</div>
<div *ngIf="selectedArtist">
    <p>{{selectedArtist.stagename}}</p>
    <p>{{selectedArtist.firstname}}</p>
    <p>{{selectedArtist.lastname}}</p>

    <table id="albumList" class="table table-striped">
        <thead>
            <th>Titre</th>
            <th>Année</th>

        </thead>
        <tbody>
            <tr *ngFor="let album of albumList">
                <td>{{album.titre}}</td>
                <td>{{album.annee | date:'dd-MM-yyyy'}}</td>
                <td>
                    <button class="btn"> - </button>
                </td>
                <td><p *ngIf="(album.votesSum) as value;">{{value}}<p></td>
                <td>
                    <button class="btn"> + </button>
                </td>

            </tr>
        </tbody>
    </table>

</div>
