<link rel="stylesheet" href="node_modules/octicons/build/font/octicons.css">
<h1 class="text-center align-center col">Liste des albums du site</h1>
<div id="albumsDiv">
<table id="tableauAlbum" class="table table-striped">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Artiste</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let album of albumList">
            <td>{{album.titre}}</td>
            <td>{{album.artiste.stagename}}</td>
            <td>{{album.annee | date:'dd-MM-yyyy'}}</td>
            <!-- <td>
                <button class="btn"> - </button>
            </td>
            <td><p *ngIf="(album.votesSum) as value;">{{value}}<p></td>
            <td>
                <button class="btn"> + </button>
            </td> -->
        </tr>
    </tbody>
</table>
<div>
