<h1 class="text-center align-center col">Liste des Artistes du site</h1>
<div id="searchAristBar" class="row">
        <div class="col-2"></div>
        <input class="form-control input-lg col-8" name="searchedArtist" [(ngModel)]="searchedArtist" (keyup)="searchArtist()" type="text" placeholder="Rechercher un Artiste par son Nom d'Artiste" aria-label="Search">
        <!-- <button class="btn btn-info btn-lg col-2"  (keyup)="searchArtist()">Rechercher</button> -->
</div>
<div id="artistesDiv">
    <table id="artistsList" class="table table-striped">
        <thead>
            <th>Nom d'artiste</th>
            <th>Prénom</th>
            <th>Nom</th>

        </thead>
        <tbody>
            <tr *ngFor="let artist of artisteList">
                <td>{{artist.stagename}}</td>
                <td>{{artist.firstname}}</td>
                <td>{{artist.lastname}}</td>
            </tr>
        </tbody>
    </table>

</div>
