<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="accueil">Projet Musique</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" aria-expanded="false">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="accueil">Accueil</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMusique" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Musique
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMusique">
                    <a class="dropdown-item" routerLink="listMusique">Lister les musiques</a>
                    <a *ngIf="auth.isAuthenticated()" class="dropdown-item" routerLink="createMusique">Créer une musique</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownAlbum" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Album
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownAlbum">
                    <a class="dropdown-item" routerLink="listAlbum">Lister les Albums</a>
                    <a class="dropdown-item" routerLink="detailAlbum">Détail d'Album</a>
                    <a *ngIf="auth.isAuthenticated()" class="dropdown-item" routerLink="createAlbum">Créer un Album</a>

                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownArtiste" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Artiste
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownArtiste">
                    <a class="dropdown-item" routerLink="listArtiste">Lister Artistes</a>
                    <a class="dropdown-item" routerLink="profilArtiste">Profil d'Artiste</a>
                    <a *ngIf="auth.isAuthenticated()" class="dropdown-item" routerLink="createArtiste">Créer un Artiste</a>
                </div>
            </li>
        </ul>
        <div *ngIf="auth.isAuthenticated();then logout else login"></div>
        <ng-template #login>
            <button id="logButton" class="btn btn-outline-info" routerLink="connexion" octicon="sign-in">
                <span>Connexion</span>
            </button>
        </ng-template>
        <ng-template #logout>
            <span id="userName" class="navbar-text">{{ auth.getUser().login }}</span>
            <button id="logButton" class="btn btn-outline-info" (click)="logOut()" octicon="sign-out">
                <span>Déconnexion</span>
            </button>
        </ng-template>
    </div>
</nav>

<img class="banner img-fluid" src="../../assets/img/img6.jpg" />

<router-outlet></router-outlet>
