<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
   <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
	<a class="navbar-brand" routerLink="accueil">Projet Musique</a>
	<div class="collapse navbar-collapse" id="navbarSupportedContent" aria-expanded="false">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" routerLink="accueil">Accueil</a>
			</li>
			<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMusique" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                 Musique
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMusique">
                  <a class="dropdown-item" routerLink="musique">Lister musiques</a>
                  <a class="dropdown-item" href="#">Musique par Artiste</a>
                </div>
			</li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownAlbum" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                 Album
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownAlbum">
                  <a class="dropdown-item" routerLink="album">Lister les Albums</a>
                  <a class="dropdown-item" href="#">Détail d'Album</a>
                </div>
			</li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownArtiste" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                 Artiste
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownArtiste">
                  <a class="dropdown-item" routerLink="listArtiste">Lister Artistes</a>
                  <a class="dropdown-item" routerLink="profilArtiste">Profil d'Artiste</a>
                </div>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="connexion">Connexion</a>
			</li>
		</ul>
	</div>
 </nav>

 <img class="img-fluid" src="../../assets/img/img6.jpg"/>

 <router-outlet></router-outlet>
